@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container">
    <div class="auth-container-outer">
        <div class="auth-container">
            <div class="auth-signin-signup">
                <form id="account" method="post" class="auth-form auth-sign-in-form">
                    <h2 class="auth-title">Log in</h2>
                    <div asp-validation-summary="All" class="auth-validations text-danger" role="alert"></div>

                    <div class="auth-input-field">
                        <i class="bi bi-person"></i>
                        <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="name@example.com">
                        @* <span asp-validation-for="Input.Email" class="text-danger"></span> *@
                    </div>
                    <div class="auth-input-field">
                        <i class="bi bi-shield-lock"></i>
                        <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" placeholder="password">
                        @* <span asp-validation-for="Input.Password" class="text-danger"></span> *@
                    </div>
                    <div class="checkbox mb-3">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>

                    <button id="login-submit" type="submit" class="auth-btn">Log in</button>

                    <p class="auth-social-text">Or Sign in with social platform</p>
                    <div class="auth-social-media">
                        <a href="#" class="auth-social-icon">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a href="#" class="auth-social-icon">
                            <i class="bi bi-twitter-x"></i>
                        </a>
                        <a href="#" class="auth-social-icon">
                            <i class="bi bi-google"></i>
                        </a>
                        <a href="#" class="auth-social-icon">
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </div>
                    <p class="auth-account-text">
                        Don't have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p class="auth-account-text">
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p class="auth-account-text">
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </form>

                <form action="" class="auth-form auth-sign-up-form">
                    <h2 class="auth-title">Sign up</h2>

                    <div class="auth-input-field">
                        <i class="bi bi-person"></i>
                        <input type="text" autocomplete="username" aria-required="true" placeholder="name@example.com" disabled>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="auth-input-field">
                        <i class="bi bi-shield-lock"></i>
                        <input type="password" autocomplete="new-password" aria-required="true" placeholder="password" disabled>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="auth-input-field">
                        <i class="bi bi-shield-lock"></i>
                        <input type="password" autocomplete="new-password" aria-required="true" placeholder="confirm password" disabled>
                    </div>
                    @if (User.IsInRole(StaticDetails.Role_Super_Admin))
                    {
                        <div class="form-floating mb-3">
                            <select class="form-select" disabled>
                                <option disabled selected>--Select Role--</option>
                            </select>
                        </div>
                    }

                    <button id="registerSubmit" type="submit" class="auth-btn">Register</button>
                    @* <input type="submit" value="Sign up" class="auth-btn"> *@

                    <p class="auth-social-text">Or Sign in with social platform</p>
                    <div class="auth-social-media">
                        <a href="#" class="auth-social-icon">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a href="#" class="auth-social-icon">
                            <i class="bi bi-twitter-x"></i>
                        </a>
                        <a href="#" class="auth-social-icon">
                            <i class="bi bi-google"></i>
                        </a>
                        <a href="#" class="auth-social-icon">
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </div>
                    <p class="auth-account-text">
                        Already have an account? <a asp-area="Identity" asp-page="/Account/Login" id="auth-sign-in-btn2">Sign in</a>
                    </p>
                </form>
            </div>
            <div class="auth-panels-container">
                <div class="auth-panel auth-left-panel">
                    <div class="auth-content">
                        <h3>Part of SOU?</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nobis reiciendis distinctio adipisci nesciunt, doloremque voluptate cupiditate explicabo aliquam magni.</p>
                        <button class="auth-btn" id="auth-sign-in-btn">Sign in</button>
                    </div>
                    <img src="~/images/undraw_secure_login_pdn4.svg" alt="loginImg" class="auth-image">
                </div>

                <div class="auth-panel auth-right-panel">
                    <div class="auth-content">
                        <h3>Want to be a part of SOU?</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nobis reiciendis distinctio adipisci nesciunt,
                            doloremque voluptate cupiditate explicabo aliquam magni.
                        </p>
                        <button class="auth-btn" id="auth-sign-up-btn">Sign up</button>
                    </div>
                    <img src="~/images/undraw_sign_in_re_o58h.svg" alt="registerImg" class="auth-image">
                </div>
            </div>
        </div>
    </div>
</div>






















@* <div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/AuthForm.js"></script>
}
